*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

/* comon */


.text-center{
    text-align: center !important;
}

.text-white{
    color: #fff;
}

.btn{
    border: none;
    background-color: #000;
    color: #fff;
    padding: 8px 16px;
    margin-top: 16px;
}

.btn:hover{
    background-color: #ccc;
    color: #000;
    cursor:pointer;
}

.row{
    margin-left:-8px;
    margin-right:-8px;
}

.row::after{
    content: "";
    display:block;
    clear: both;
}

.col{
    float:left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-third{
    width: 33.333333%;
}

.col-half{
    width: 50%;
}

.col-full{
    width: 100%;
}

.mt-8{
    margin-top: 8px !important;
}

.mt-16{
    margin-top: 16px;
}

.mr-16{
    margin-right: 16px;
}

.pull-right{
    float: right !important;
}



/* ... */

#header{
    background-color:#000;
    height:46px;
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index: 3;   
    overflow: hidden; 
}

#nav {
    display: inline-block;
}

#nav, .subnav {
    list-style: none;
}

#nav  li {
    display: inline-block;    
    position: relative;
}

#nav > li  > a{
    text-transform: uppercase;
    color: #fff;
}

#nav li a{
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}

#nav li:hover .subnav{
    display:block;
}

#nav > li:hover > a,
#nav .subnav li:hover a{
    background-color: #ccc;
    color: #000;
}

#nav .subnav {
    position: absolute; 
    top: 100%;
    left: 0;
    background-color: #fff;
    display:none;
    box-shadow: 0 0 10px rgba(0, 0, 0,.5);
    min-width: 160px;
}


#nav .subnav li {
    display: block;

}


#nav .subnav a{
    color: #000;
    padding: 0 16px;
    line-height: 38px;
}

#nav .nav-arrow-down{
    font-size: 14px;
}

#header .menu-mobile-btn{
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

#header .menu-mobile-btn,
#header .search-btn{
    float: right;
    cursor: pointer;
    padding: 0 21px;
}
#header .menu-icon,
#header .search-icon{
    font-size: 20px;
    line-height:46px;

}

#header .menu-mobile-btn:hover{
    background-color: #ccc;
}

#header .menu-mobile-btn:hover .menu-icon{
    color:#000;
}

#header .search-btn:hover{
    background-color:#f44336;
}

#slider{
    position: relative;
    margin-top:46px;
    padding-top:50%;
    background: url('/asset/img/slider1.jpeg') top center / cover no-repeat;
}

#slider .text-content{
    position: absolute;
    bottom: 46px;
    left: 50%;
    transform: translateX(-50%);
}

#slider .text-heading{
    font-weight: 500;
    font-size: 24px;
}

#slider .text-description{
    font-size: 15px;
    margin-top: 25px;
}

#content{

}

#content .content-section{
    width: 800px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;

    padding: 64px 0 112px;
    padding-left: 16px;
    padding-right: 16px;

}

#content .heading-section{
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 4px;
}

#content .sub-heading-section{
    margin-top: 25px;
    font-size: 15px;
    opacity: 0.6;
    font-style: italic;
}

#content .about-text{
    font-size: 15px;
    margin-top: 30px;
    text-align: justify;
    line-height: 1.4;
}

#content .member-list{
    margin-top: 48px;
}

#content .member-name{
    font-size: 15px;
}

#content .member-avt{
    width: 154px;
    border-radius: 4px;
    margin-top: 15px;
}

#content .tour-section{
    background-color: #000;
}

#content .ticket-list{
    background-color: #fff;
    margin-top: 40px;
}

#content .ticket-list li{
    color: #757575;
    list-style: none;
    font-size: 15px;
    border-bottom: 1px solid #ddd;
    padding: 8px 16px;
}

#content .ticket-list .sold-out{
    margin: 0 16px;
    font-size: 15px;
    color: #fff;
    background-color: #f44336;
    padding: 3px 4px;
}

#content .ticket-list .quantity{
    float: right;
    margin-right: 16px;
    background-color: #000;
    color: #fff;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;
}

.place-list{
    margin: 32px -8px;
}

.place-img{
    width:100%;
    display: block;
}

.place-img:hover{
    opacity: 0.6;
}

.place-content{
    background-color: #fff;
    font-size: 15px;
    padding: 16px;
}

.place-heading{
    font-size:15px;
    font-weight: 600;
}

.place-time{
    margin-top: 15px;
    color: #757575;
}

.place-desc{
    margin-top: 15px;
    line-height: 1.4;
}

.contact-content{
    margin-top: 48px;
}

.contact-info{
    font-size: 18px;
    line-height: 1.4;
}

.contact-info i[class*="ti-"]{
    width: 30px;
    display: inline-block;
}

.contact-form{
    font-size: 15px;
}

.contact-form .form-control{
    padding: 11px;
    border: 1px solid #ccc;
    width: 100%;
}

.contact-form .form-submit-btn{
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
    padding: 10px 16px;
    float: right;
}

.map-section img{
    width: 100%;
}

#footer{
    padding: 64px 16px;
    text-align:center;
}

#footer .social-list{
    font-size: 24px;
}

#footer .social-list a{
    color: rgba(0, 0, 0,.6);
    text-decoration: none;
}
#footer .copy-right a:hover,
#footer .social-list a:hover{
    color: rgba(0, 0, 0,.4);
}

#footer .copy-right{
    margin-top: 15px;
    color: rgba(0, 0, 0,.6);

}

#footer .copy-right a{
    color: rgba(0, 0, 0,.6);
}

.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0,.5);
    align-items: center;
    justify-content: center;
    display: none;
}

.modal-container {
    background-color: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative;
    animation: modal-fade-in ease .4s;
}

.modal-header {
    background-color: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}

.modal-heading-icon{
    margin-right: 16px;
}

.modal-close:hover {
    opacity: 1;
}

.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 12px;
    cursor: pointer;
    opacity: 0.8;
}

.modal-body {
    padding: 16px;
}

.modal-label {
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}

.modal-input {
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 24px;
}

#pay-ticket {
    background-color: #009688;
    border: none;
    width: 100%;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    padding: 18px;
}

#pay-ticket:hover {
    cursor: pointer;
    opacity: 0.9;
}

.modal-footer{
    padding: 16px;
    text-align: right;
}

.modal-footer a{
    color: #2196F3;
}

.modal.open {
    display: flex;
}


@keyframes modal-fade-in{
    from{
        transform: translateY(-150px);
        opacity: 0;
    }

    to{
        transform: translateY(0);
        opacity: 1;
    }
}

